body {
  margin: 0;
  height: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

@charset "UTF-8";
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products {
	display:none;
	
}	
nav ul li {
    float: left;
    position: relative;
    font-family: system-ui;
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: black;
    text-decoration: none;
	cursor: pointer;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: black;
  text-decoration: none;
}
nav ul li a:hover {
  color: black;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  z-index: 1;
}

.nav-dropdown {
  position: absolute;
  display: none;
  background: white;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
	
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
.navigation {
  height: 70px;
}

.nav-container {
  margin: 0 auto;
}

#back-nav {
	float: left;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: black;
  text-decoration: none;
}

#ascii_banner_preview pre {
    width: unset;
    box-shadow: none;
    border: none;
    white-space: pre;
    overflow: visible;
    font-size: 5px;
    line-height: 1;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}


.pages {
	min-height: 100%;
    margin-bottom: -70px;	
}

.tab_container {
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}


.tabsy {
	display: flex;
	flex-wrap: wrap;
}
.tabsy label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
	background: #D3D3D3;
	font-weight: bold;
	transition: background ease 0.2s;
	border: solid 2px;
	border-radius: 10px 10px 0 0;
	font-family: system-ui;
	margin-bottom: -1px;
	z-index: 10;
}
.tabsy .taby {
	order: 99;
	flex-grow: 1;
	width: 100%;
	display: none;
	padding: 1rem;
	background: #fff;
	border-top: solid 2px;
}
.tabsy input[type="radio"] {
	display: none;
}
.tabsy input[type="radio"]:checked + label {
	background: #fff;
	border-bottom: solid 2px white;
}
.tabsy input[type="radio"]:checked + label + .taby {
	display: block;
}

@media only screen and (max-width: 800px) {
  .tabsy .taby,
  .tabsy label {
    order: initial;
    display: none;
  }
  .taby {
	border-top: none !important;
}
  .tabsy label {
	width: 100%;
	margin-right: 0;
	margin-top: 0.2rem;
	border: solid 2px !important;
	border-radius: 10px 10px 10px 10px;
	  
	  
  }
  .products {
	display: block;;
	
}	
}

footer {
    text-align: center;
    height: 60px;
    width: 100%;
}

.cardRows {
  font: 300 16px "Open Sans";
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#card2 {
	background-image: url("https://ipfs.io/ipfs/QmRZMup3FgdJwd7pBtm9ssax3qARWa6C5nXazzgyNF58kF");
	background-size: cover;
        background-repeat: no-repeat;
}

#card2-logo {
	background-image: url("https://ipfs.io/ipfs/QmQAgBc5nqqXgVHVHM4QxB4T5oL5VZbkDpTJRt7CJEfVre");
	
}


.card {
  background: white;
  padding: 1em;
  margin: 1em;
  border-radius: 0.2em;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
  flex: 1 0 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.card__groups {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 800px) {
  .card {
    max-width: 50%;
  }
}
.card__group:first-child {
  margin-right: 1em;
}
.card__title {
  margin-top: 0;
    padding: 5px;
    border-radius: 10px;
    background: rgba(255,255,255, 0.9);
}
.card__title .aka {
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  color: #888;
}
.card__subtitle {
  font-weight: 400;
}

.bottomLinks a {
  color: #147ea7;
  text-decoration: none;
  font-size: 0.8rem;
	display: none;
}
.bottomLinks a:hover {
  text-decoration: underline;
}

.fraction {
	background: #147ea7;
	border-radius: 50%;
	font-size: 1.5rem;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 1rem;
	text-align: center;
	line-height: 0.7em;
	font-weight: 700;
}
.fraction__label {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.4rem;
}
.fraction hr {
  margin: 0.25rem 0 0.5em;
}

.percent {
  font-size: 2rem;
  font-weight: 700;
}
  
