@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

$text:#EFEFAE;
$highlighttext:#FFFFAE;
$black:#262626;
$darkgrey:#3A3A3A;
$grey:#bcbcbc;
$highlight:#005F5F;
$selftext:#83A598;

$cream:#ffd7af;
$lightblue:#87afaf;
$green:#afaf00;
$red:#d75f5f;
$textred:#E3A786;
$orange:#dd6f48;
$pink:#d787af;
$gold:#ff8700;
$yellow:#ffaf00;
$darkgreen:#878700;
$turquoise:#87af87;
$blue:#5f8787;
$darkblue:#005f87;
$purple:#875f87;
$lighterblue:#83a598;

body {
   background-color:$darkgrey;
   color:$text;
   font-family: 'Fira Mono', Monospace;
   margin:0;
   overflow-x:hidden;
   a {
      color:inherit;
      &:hover{
         color:$highlighttext;
         background-color:$highlight;
      }
   }
   .stream {
      margin-top:8px;
   }
   .line {
      margin:0;
      padding:0;
      display:flex;
      flex-direction:row;
      margin:0 4px;
      padding-top:2px;
      width:calc(100% - 12px);
      p {
         display:inline-block;
         margin:0;
         padding:0;
      }
      .name {
         max-width:80px;
         min-width:80px;
         text-align:right;
         padding-right:6px;
      }
   }
   .editline {
      background-color:$black;
      padding: 2px 4px 0px 4px;
      width:calc(100%);
      .edit {
         min-width:calc(100% - 200px);
         outline:none;
      }
      margin:0;
      margin-bottom:8px;
      .time {
         user-select: none;
         cursor:default;
      }
   }
}
.whitet {
   color:$highlighttext;
}
.redt {
   color:$red;
}
.important {
   color:$textred;
}
.bluet {
   color:$blue;
}
.greent {
   color:$green;
}
.selft {
   color:$selftext;
}
::selection {
   color:$highlighttext;
   background: $highlight;
}
::-webkit-scrollbar{background-color:$darkgrey;width:10px;height:10px;}
::-webkit-scrollbar-thumb{background-color:$grey;}
::-webkit-scrollbar-corner{background-color:$darkgrey;}
::-webkit-resizer{background-color:$darkgrey;}


.phjspenheader:hover {
    background-color: #D44C2A 
}
